*{
    padding: 0;
    margin: 0;
    color: white;
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
body{
    background-color: #761B7A;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h2{
    margin-top: 3vh;
    font-size: 3vh;
}
body>img{
    margin-top: 5vh;
    height: 40vh;
}
body>form{
    width: 30vw;
}
body>form>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
body>form>ul>li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;

}
body>form>ul>li>div>input{
    margin-right: 1vw;
}
label{
    font-size: 2vh;
    margin: 1vh 0vw;
}
.card{
    width: 40vw;
    height: 5vh;
    padding-left: 1vw;
    font-size: 2vh;
    border-radius: 10px;
    border: 1px solid white;
    color: black;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-top: 4vh;
}
.btn>input{
    padding: 3vh 6vw;
    border: 5px solid #c45829;
    border-radius: 10px;
    background-color: #FF7F48;
    cursor: pointer;
}
.btn>input:hover{
    background-color: #c45829;
    border: 5px solid #FF7F48;
}
.footer{
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}
#select{
	color: black;
}